<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/Bdaya-Dev/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="AhmedKhalil777" />
			<add key="ClearTextPassword" value="8f205695b310a2bcd9c18983e1ef56611527e9be" />
		</github>
	</packageSourceCredentials>
</configuration>