<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/Bdaya-Dev/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="AhmedKhalil777" />
			<add key="ClearTextPassword" value="d46607c91e91c327033180b6531f03a26030dec9" />
		</github>
	</packageSourceCredentials>
</configuration>